'atom-workspace atom-text-editor[data-grammar="text md"]:not([mini])':
  'cmd-k cmd-1': 'mdfld:fold-at-heading-level-1'
  'cmd-k cmd-2': 'mdfld:fold-at-heading-level-2'
  'cmd-k cmd-3': 'mdfld:fold-at-heading-level-3'
  'cmd-k cmd-4': 'mdfld:fold-at-heading-level-4'
  'cmd-k cmd-5': 'mdfld:fold-at-heading-level-5'
  'cmd-k cmd-6': 'mdfld:fold-at-heading-level-6'
  'cmd-k cmd-0': 'mdfld:unfold-all'
  'cmd-alt-[': 'mdfld:fold-current-row'
  'cmd-alt-{': 'mdfld:fold-at-heading-level-6'
  'cmd-alt-}': 'mdfld:unfold-all'
